@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;700&family=Poppins&display=swap');
* {
    box-sizing: border-box !important;
    color: #000;
    font-family: "Poppins", sans-serif;
}

.navbar {
    background-color: #D0EBFF;
    height: 90px;
}

.navbar-brand {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-size: 26px;
}

.navbar-brand span {
    color: #1971C2;
}

.nav-link {
    font-size: 16px;
    margin-right: 30px;
    color: #000 !important;
}

.nav-login {
    color: #fff;
}

.heading-home {
    color: #23596D;
    font-weight: 700;
    font-size: 48px;
}

.subheading-home {
    font-weight: 300;
    color: #000;
    font-size: 20px;
}

.home{
    background-color: #D0EBFF;
    padding-top: 160px;
}

.btn-home .button {
    padding: 10px 25px;
}

.btn-home a {
    background-color: #1971C2;
    text-decoration: none;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-home a:hover {
    background-color: #FFFFFF;
    border: 0.01px solid #1971C2;
    color: #1971C2;
    border-radius: 5px;
    transition: 0.3s;
}

.home-hero {
    padding-left: 60px;
    padding-bottom: 70px;
}

.section-heading {
    color: #062C30;
    font-weight: 700;
    text-align: center;
}

.subheading {
    color: #062C30;
    text-align: center;
}

.card {
    padding: 15px 15px 30px;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 4px 50px rgba(0, 0, 0, 0.06);
    transition: 0.3s all;
}

.psychologists .card h5 {
    font-weight: 600;
    font-size: 24px;
    color: #2D3134;
    text-align: center;
}

.psychologists .card p {
    font-weight: 500;
    font-size: 16px;
    color: #2D3134;
    text-align: center;
}


/* Article */

.article {
    padding-top: 50px;
    padding-bottom: 30px;
}

.article .article-categories {
    margin-top: 10px;
    font-size: 14px;
    color: #413F42;
    font-weight: 500;
}

.article .article-time {
    margin-top: 10px;
    font-size: 10px;
    color: #606a70;
    font-weight: 500;
}

.testi {
    padding: 20px;
}

.article img {
    margin-top: 20px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    object-fit: fill;
}

.article a {
    text-decoration: none;
}

.article h6 {
    margin-top: -10px;
    font-size: 18px;
    color: #0F0E0E;
    font-weight: 600;
}

.see-more .btn-detail .btn-second {
    background-color: #1971C2;
    color: #F6FBF4;
    border: 2px solid #1971C2;
    padding: 10px 14px;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s all;
}

.see-more .btn-detail .btn-second:hover {
    background-color: #F6FBF4;
    color: #1971C2;
    border: 2px solid #1971C2;
    padding: 10px 14px;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s all;
}


.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 182px;
    height: 54px;
    background-color: #1C4755;
    background-color: #1971C2;
    color: #F6FBF4;
    border: 2px solid #1971C2;
    padding: 10px 14px;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s all;
}

.search-btn:hover {
    transform: translateY(-3px);
    padding: 10px 14px;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s all;
}

.search-btn span{
    color: #fff ;
    margin-right: 10px;
}

.search-btn i{
    color: #fff;
}

.btn-second {
    background-color: #1971C2;
    color: #F6FBF4;
    border: 2px solid #1971C2;
    padding: 10px 14px;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s all;
}

.btn-second:hover {
    background-color: #F6FBF4;
    color: #1971C2;
    border: 2px solid #1971C2;
    padding: 10px 14px;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s all;
}

/* Footer */

.footer {
    background-color: #1971C2;
    padding-top: 20px;
}

.footer .logo-footer a {
    color: #F6FBF4;
}

.footer .logo span {
    color: #E2D784;
}

.footer .info a {
    color: #F6FBF4;
    text-decoration: none;
    font-size: 16px;
}

.footer .info li {
    text-decoration: none;
    display: block;
    margin: 10px 0;
}

.footer .info h3 {
    color: #F6FBF4;
    font-weight: 700;
    font-size: 18px;
}

.sosmed {
    display: flex;
    justify-content: space-between;
}

.copyright {
    font-size: 16px;
    color: #F6FBF4;
    text-align: center;
}

.btn-detail .btn-add {
    background-color: #1971C2;
    box-shadow: 5px 4px 50px rgba(0, 0, 0, 0.275);
    color: #F6FBF4;
    border: 2px solid #1971C2;
    border-radius: 5px;
    font-weight: 500;
    height: 54px;
    text-decoration: none;
    transition: 0.3s all;
}

.search {
    border-radius: 10px;
    box-shadow: 5px 4px 50px rgba(0, 0, 0, 0.275);
    font-size: 16px;
    border: 2px solid #fff;
    transition: 0.3s all;
    height: 54px;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
}

.search:focus {
    box-shadow: 5px 4px 50px rgba(0, 0, 0, 0.275);
    border: 2px solid #fff;
    transition: 0.3s all;
}

.question-list .card {
    padding: 30px 30px 20px 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 4px 50px rgba(0, 0, 0, 0.06);
    transition: 0.3s all;
}

.question-list .card h6 {
    font-size: 24px;
    font-weight: 500;
}

.question-list .card .question-description {
    font-size: 16px;
    font-weight: 300;
}

.question-list .card .question-time {
    font-size: 16px;
    font-weight: 300;
}

.question-list .card .info-forum {
    margin-top: 58px;
    font-size: 14px;
}

.add-topic-title {
    border-radius: 10px;
    font-size: 16px;
    border: 2px solid #F5F6F8;
    background-color: #F5F6F8;
    transition: 0.3s all;
    height: 54px;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
}

.add-topic-title:focus {
    box-shadow: 5px 4px 50px rgba(0, 0, 0, 0.275);
    border: 2px solid #F5F6F8;
    transition: 0.3s all;
}

.form-label {
    font-size: 16px;
    font-weight: 400;
    color: #152C5B;
}

.form-control {
    border-radius: 10px;
    font-size: 16px;
    border: 2px solid #F5F6F8;
    background-color: #F5F6F8;
    transition: 0.3s all;
    width: 100%;
    height: 162px;
    padding: 20px;
    border-radius: 5px;
}

.skor-card {
    background-color: #23596D;
    padding: 15px 15px 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 4px 50px rgba(0, 0, 0, 0.06);
    transition: 0.3s all;
}

.sub-skor-card{
    background-color: #F5F6F8;
    padding: 15px 15px 30px;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 4px 50px rgba(0, 0, 0, 0.06);
    transition: 0.3s all;
}

.sub-title-kategori {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

.btn-send {
    width: 182px;
    height: 54px;
    background-color: #1C4755;
    color: #fff;
}

.sosmed i{
    font-size: 36px;
    color: #fff;
}

.ques {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}
  
input[type="radio"] {
    margin-right: 10px;
}
  
#skorr0, #skorr1, #skorr2, #skorr3 {
    font-size: 16px;
    color: #666666;
}

@media screen and (max-width: 1034px){
    .search-btn span{
        display: none;
    }

    .search-btn{
        width: 50px;
        height: 54px;
    }
}

@media (max-width: 767px) {
  .bgcolor {
    background-color: #D0EBFF;
    width: 100% !important;
    padding-left: 0;
    padding-right: 0;
}
}

.accordion-body{
    color: #5B5F62; 
    word-wrap:break-word;
}

.mental-article{
    font-weight: 500;
    font-size: 16px;
    color: #5B5F62;
    text-align: justify;
}

.tentang-kami {
    padding-top: 160px;
}

.foto-developer{
    border-radius: 15px;
}


@media screen and (max-width: 991px) {
    #navbarResponsive{
        background-color: #D0EBFF;
    }
    .nav-link{
        margin-left: 10px;
        margin-right: 10px;
    }
    .container-xl{
        margin: 0;
        padding: 0;
    }
    .btn-login{
        margin-bottom: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.text-justify{
    text-align: justify;
}

.login-page {
    display: flex;
    align-items: center;
    height: 100vh;
}

.image-login {
    background-image: url('https://images.unsplash.com/photo-1588979355313-6711a095465f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=372&q=80');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 50%;
}

.login-card {
    width: 100%;
}

@media screen and (max-width: 854px) {
    .image-login{
        display: none;
        transition: 0.3s all;
    }
}

@media screen and (max-width: 565px) {
    .login-card {
        padding: 15px 15px 30px;
        border-radius: 20px;
        border: none;
        box-shadow: 5px 4px 50px rgba(0, 0, 0, 0.06);
        transition: 0.3s all;
        }
    }

.login-input {
    border-radius: 10px;
    font-size: 16px;
    border: 2px solid #F5F6F8;
    background-color: #F5F6F8;
    transition: 0.3s all;
    height: 54px;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    transition: 0.3s all;
}

.login-input:focus {
    box-shadow: 5px 4px 50px rgba(0, 0, 0, 0.275);
    border: 2px solid #F5F6F8;
    transition: 0.3s all;
}